@import "https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;600&display=swap";

:root {
    --background: #1f1f1f;
    --primary: #8b5cf6;
    --secondary: #FF9F9F;
    --accent: #773cff;
    --text: #fff;
}


body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Lexend';
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px;

}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}



.loading-spinner::after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid;
    border-color: var(--primary) transparent var(--primary) transparent;
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}